.button {
  cursor: pointer;
  height: 45px;
  border-radius: 8px;
  border: none;
  background-color: black;
  border: 1px solid black;
  color: white;
  font-size: 14px;
  margin-top: 30px;
}

.input {
  background-color: white;
  border-radius: 8px;
  height: 45px;
  padding: 0 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.textarea {
  background-color: white;
  border-radius: 8px;
  height: 45px;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 150px;
  resize: vertical;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;

  input {
    @extend .input;
  }

  button {
    @extend .button;
  }

  textarea {
    @extend .textarea;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
